[Unit]
Description=Stream Video Service
After=network.target

[Service]
ExecStart=/root/carcam/stream.sh
WorkingDirectory=/root/carcam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
