[Unit]
Description=Stream Video Service
After=network.target

[Service]
ExecStart=/home/carcam/stream.sh
WorkingDirectory=/home/carcam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=carcam

[Install]
WantedBy=multi-user.target
